*::after,
*::before {
  margin: 0;
  padding: 0;
 
}
html,
body {
  height: calc(100% + 1px)
}
body {
  font: 100% 'Arimo', sans-serif;
}
.filter-wrapper,
.keyword-wrapper {
  display: flex;
  justify-content: center;
}
.filter-wrapper {
  min-height: 100%;
  flex-flow: column wrap;;
  position: relative
}
.keyword-wrapper {
  width: 100%;
  position: relative;
}
#keyword {
  border: 1px solid #ccc;
  padding: 10px;
  font: 1.5em 'Arimo', sans-serif;
  width: 50%;
  outline: none;
  transition: border 0.5s ease-in-out
}
#keyword:focus {
  border-color : rgba(81, 203, 238, 1);;
}
#keyword-button {
  position: absolute;
  right: 26%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7em;
  color: #8DB9ED
}
#keyword-button:hover {
  color: #ccc
}
.filter-select {
  width: 87%;
  list-style: none;
  font-size: 1.1em;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: relative;
  left: 1%;
  height: 30%;
  top: calc(50% + 25px);
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: scroll;
  background: #fff
}
.filter-select-list img {
  margin-right: 30px;
  
}
.tags {
  font-size: 12px;
  font-style: italic;
  color: #c6c6c6;
  margin-right: 10px;
  position: relative;
  top: -10px;
}
.filter-select-list:hover .tags {
  color: #fff;
}
.filter-select-list {
  cursor: pointer;
  padding: 5px 10px;
  
}

.filter-select-list:hover {
  background:  #C0C0C0;
  color: #fff
}
.list-highlight,
.list-highlight:hover {
  background: rgb(55, 55, 55);
  color: #fff
}
@media only screen and (max-width: 768px) {
  .filter-select,
  #keyword {
    width: 80%;
  }
  #keyword {
    font-size: 1.3em
  }
  .filter-select {
    font-size: 0.9em;
    left: 10%;
    top: calc(50% + 23px);
  }
  #keyword-button {
    right: 11%
  }
}
@media only screen and (max-width: 480px) {
  .filter-select,
  #keyword {
    width: 95%;
  }
  .filter-select {
    left: 2.5%;
  }
  #keyword-button {
    right: 3.5%
  }
}

.rTable {
   display: table;
   width: 100%;
}
.rTableRow {
   display: table-row;
}
.rTableHeading {
   display: table-header-group;
   background-color: #ddd;
}
.rTableCell, .rTableHead {
   display: table-cell;
   border: 1px solid #999999;
   width:10px;
}
.rTableHeading {
   display: table-header-group;
   background-color: #ddd;
   font-weight: bold;
}
.rTableFoot {
   display: table-footer-group;
   font-weight: bold;
   background-color: #ddd;
}
.rTableBody {
   display: table-row-group;
}
.rTableHead, .rTableFoot{
   background-color: #CCCCFF;
   font-weight: bold;
}

.rTableRow:nth-child(even){background-color: #CCFF99}
.rTableRow:nth-child(odd){background-color: #CCFFCC}




.rTableNoBorder {
   display: table;
   width: 100%;
}
.rTableRowNoBorder {
   display: table-row;
}
.rTableHeadingNoBorder {
   display: table-header-group;
   
}
.rTableCellNoBorder, .rTableHeadNoBorder {
   display: table-cell;
   padding: 3px 10px;
   
}
.rTableHeadingNoBorder {
   display: table-header-group;
   
   font-weight: bold;
}
.rTableFootNoBorder {
   display: table-footer-group;
   font-weight: bold;
   
}
.rTableBodyNoBorder {
   display: table-row-group;
}
.rTableHeadNoBorder, .rTableFootNoBorder{
   
   font-weight: bold;
}
.inputwidth {
	width: 50px;
}

.inputwidth100 {
	width: 100px;
}

.error {
  padding: 10px;
  background-color: #d4cbcb;
  color: red;
  font-size:20px;
}

.error-message {
  color: red;
  font-size:15px;
}

button {
  background-color: #8599b7;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 14px;
}

button:hover {
  opacity: 0.8;
}

.ab-modal{z-index:3;display:none;padding-top:108px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:scroll;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.ab-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:100%}
.ab-container{padding:0.01em 16px;position:relative;}
.ab-panel{margin-top:16px;margin-bottom:16px}
.ab-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:auto;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.ab-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ab-large{font-size:18px!important}
.ab-card-4{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.ab-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.ab-center{text-align:center!important}
.ab-section{margin-top:16px!important;margin-bottom:16px!important}
.ab-xlarge{font-size:24px!important}
.ab-display-topright{position:absolute;right:0;top:0}
.ab-hover-red:hover{color:#fff!important;background-color:#f44336!important}