<section id="footer" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
     
      
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="service-item text-center">
          <div class="img"><img src="assets/img/Publicis-Sapient-logo.png"></div>
          
        </div>
      </div>
    </div>
	
    <div class="footer">
      <div class="row text-left">
        <div class="col-md-12">
          
		  <label class="col-sm-12 " for="">For issue / suggestion please reach out to Hasim Mollah (hmollah@sapient.com)</label>
        </div>

      </div>
    </div>


  </div>
</section>