
<div class="loader"></div>
<div id="myDiv">

  <!---->
	<router-outlet></router-outlet>
	
  <!---->
  <!---->

  <!---->

  
  <!---->
  <!---->

<div class="footer">
  <div class="bg-color">
   <healthboard-footer></healthboard-footer>

    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="banner-info text-center wow fadeIn delay-05s">
            <!-- <h1 class="bnr-title">We are at ba<span>ker</span></h1> -->
			<br/><br/><br/><br/><br/>
            <h2 class="bnr-sub-title"></h2>
            <p class="bnr-para"></p>
            
            <div class="overlay-detail">
               <p class="bnr-para"></p>
            </div>
			<div class="overlay-detail">
               <p class="bnr-para"></p>
            </div>
			
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
</div>